*{
    margin: 0;
    padding: 0;
}
.menu-container{

    background-color: rgb(53, 52, 52);
    padding: 10px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around; 
}
.menu-container .logo-photo{
    width: 50px;
}
.menu-container .menus{
    display: flex;
}
.item{
    margin-right: 10px;
    padding-right: 5px;
    font-size: 18px;
}
.item:hover{
    color: blue;
    cursor: pointer;
}
.side-photos{
    width: 150px;
}
.banner-container{
    color: white;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    background-image: url("https://img.freepik.com/free-photo/abstract-grunge-decorative-relief-navy-blue-stucco-wall-texture-wide-angle-rough-colored-background_1258-28311.jpg?w=2000");
}
.title{
    font-size: 55px;
    font-weight: bold;
}
.description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    background-color: aqua;
    color: black;
}